<h1>Лабораторная работа №8</br>Вариант 2</h1>


<div class="form">
<%= form_with url: "/calc/view", method: :get do |form| %>
    <%= form.label "Введите число n: " %>
    <%= form.text_field :numbers, value: "100" %>
    <br/> 
    <%= form.submit "SUBMIT" %>
    <% end %>
</div>
