<h1>РЕЗУЛЬТАТ</h1>
<div class="put" id="input_data">Входные данные : <%= @input_data %></div>
<div class="put" id="result">Выходные данные: <%= @result %></div>

<div id="link"><%= link_to "Repeat", :calc_input %></div>
