<h1>РЕЗУЛЬТАТ</h1>
<div class="put" id="input_data">Входные данные: n = <%= @input_data %></div>
<div class="put" id="result">Выходные данные:</div>

<div class="table_pos">
<table>
  <tbody>
    <% @result.each do |i| %>
    <tr>
      <td><%= i[0] %></td>
      <td><%= i[1] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="link"><%= link_to "Repeat", :calc_input %></div>
